USE [TimeSheetManagementSystemDB_V5]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountDetail]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountDetail](
	[AccountDetailId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerAccountId] [int] NOT NULL,
	[DayOfWeekNumber] [int] NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[EndTimeInMinutes] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((1)),
	[StartTimeInMinutes] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_AccountDetailId] PRIMARY KEY CLUSTERED 
(
	[AccountDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountRate]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountRate](
	[AccountRateId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerAccountId] [int] NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[RatePerHour] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PrimaryKey_AccountRateId] PRIMARY KEY CLUSTERED 
(
	[AccountRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerAccount]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerAccount](
	[CustomerAccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](100) NOT NULL,
	[Comments] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[CreatedById] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((1)),
	[UpdatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_CustomerAccountId] PRIMARY KEY CLUSTERED 
(
	[CustomerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InstructorAccount]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorAccount](
	[InstructorAccountId] [int] IDENTITY(1,1) NOT NULL,
	[Comments] [nvarchar](4000) NULL,
	[CustomerAccountId] [int] NOT NULL,
	[EffectiveEndDate] [datetime2](7) NULL,
	[EffectiveStartDate] [datetime2](7) NOT NULL,
	[InstructorId] [int] NOT NULL,
	[IsCurrent] [bit] NOT NULL DEFAULT ((1)),
	[WageRate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PrimaryKey_InstructorAccounttId] PRIMARY KEY CLUSTERED 
(
	[InstructorAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SessionSynopsis]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SessionSynopsis](
	[SessionSynopsisId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedById] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL DEFAULT ((0)),
	[SessionSynopsisName] [varchar](100) NOT NULL,
	[UpdatedById] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_SessionSynopsisId] PRIMARY KEY CLUSTERED 
(
	[SessionSynopsisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[TimeSheetId] [int] IDENTITY(1,1) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedById] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[CreatedById] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[MonthAndYear] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[UpdatedById] [int] NOT NULL,
	[VerifiedAndSubmittedAt] [datetime2](7) NULL,
 CONSTRAINT [PrimaryKey_TimeSheetId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSheetDetail]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetail](
	[TimeSheetDetailId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](100) NOT NULL,
	[Comments] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[CreatedByName] [varchar](100) NOT NULL,
	[DateOfLesson] [datetime2](7) NOT NULL,
	[IsReplacementInstructor] [bit] NOT NULL DEFAULT ((0)),
	[OfficialTimeInMinutes] [int] NOT NULL,
	[OfficialTimeOutMinutes] [int] NOT NULL,
	[RatePerHour] [decimal](6, 2) NOT NULL,
	[SessionSynopsisNames] [varchar](300) NOT NULL,
	[TimeInInMinutes] [int] NULL,
	[TimeOutInMinutes] [int] NULL,
	[TimeSheetId] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[UpdatedByName] [varchar](100) NOT NULL,
	[WageRatePerHour] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PrimaryKey_TimeSheetDetailId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeSheetDetailSignature]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeSheetDetailSignature](
	[TimeSheetDetailSignatureId] [int] IDENTITY(1,1) NOT NULL,
	[Signature] [varbinary](max) NULL,
	[TimeSheetIDetailId] [int] NOT NULL,
 CONSTRAINT [PrimaryKey_TimeSheetSignatureId] PRIMARY KEY CLUSTERED 
(
	[TimeSheetDetailSignatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 16/6/2017 8:18:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserInfoId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
	[LoginUserName] [varchar](10) NOT NULL,
 CONSTRAINT [PrimaryKey_UserInfoId] PRIMARY KEY CLUSTERED 
(
	[UserInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20170616075740_setupdb', N'1.1.1')
SET IDENTITY_INSERT [dbo].[AccountDetail] ON 

INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveEndDate], [EffectiveStartDate], [EndTimeInMinutes], [IsVisible], [StartTimeInMinutes]) VALUES (3, 6, 1, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), 720, 1, 600)
INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveEndDate], [EffectiveStartDate], [EndTimeInMinutes], [IsVisible], [StartTimeInMinutes]) VALUES (5, 6, 4, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), 720, 1, 540)
INSERT [dbo].[AccountDetail] ([AccountDetailId], [CustomerAccountId], [DayOfWeekNumber], [EffectiveEndDate], [EffectiveStartDate], [EndTimeInMinutes], [IsVisible], [StartTimeInMinutes]) VALUES (6, 7, 2, NULL, CAST(N'2017-05-01 00:00:00.0000000' AS DateTime2), 840, 1, 720)
SET IDENTITY_INSERT [dbo].[AccountDetail] OFF
SET IDENTITY_INSERT [dbo].[AccountRate] ON 

INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [RatePerHour]) VALUES (1, 6, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), CAST(150.00 AS Decimal(6, 2)))
INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [RatePerHour]) VALUES (2, 6, NULL, CAST(N'2018-03-01 00:00:00.0000000' AS DateTime2), CAST(200.00 AS Decimal(6, 2)))
INSERT [dbo].[AccountRate] ([AccountRateId], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [RatePerHour]) VALUES (3, 5, NULL, CAST(N'2016-03-01 00:00:00.0000000' AS DateTime2), CAST(100.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[AccountRate] OFF
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'10724595-07d2-43c8-acc7-586a50ab09b0', N'4a28f3c5-c1cb-481b-989a-d26f9636e90d', N'ADMIN', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'44ca8293-792a-4aeb-a38c-7ef404fcf779', N'd76328f8-84bf-4b27-a8e0-685d0860ef8d', N'INSTRUCTOR', N'INSTRUCTOR')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ca3fda57-6de3-482d-939e-91b216985a29', N'10724595-07d2-43c8-acc7-586a50ab09b0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'de88bef4-c6f8-467e-b2ad-0b5227b4138c', N'10724595-07d2-43c8-acc7-586a50ab09b0')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0dd7c260-ad56-42ef-a07b-d0b8b4777937', N'44ca8293-792a-4aeb-a38c-7ef404fcf779')
SET IDENTITY_INSERT [dbo].[CustomerAccount] ON 

INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [CreatedAt], [CreatedById], [IsVisible], [UpdatedAt], [UpdatedById]) VALUES (5, N'SCHOOL A', N'Weekly one lesson (Saturday) on dancing foundations (3 hours each week).', CAST(N'2017-01-01 15:40:15.5030000' AS DateTime2), 1, 1, CAST(N'2017-05-22 21:35:52.8339633' AS DateTime2), 1)
INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [CreatedAt], [CreatedById], [IsVisible], [UpdatedAt], [UpdatedById]) VALUES (6, N'SCHOOL B', N'Weekly two lessons (total 5 hours) dancing gym sessions', CAST(N'2017-03-20 15:40:15.5030000' AS DateTime2), 2, 1, CAST(N'2017-05-22 20:44:30.9267293' AS DateTime2), 1)
INSERT [dbo].[CustomerAccount] ([CustomerAccountId], [AccountName], [Comments], [CreatedAt], [CreatedById], [IsVisible], [UpdatedAt], [UpdatedById]) VALUES (7, N'SCHOOL C', N'Weekly two lessons (total 4 hours) dancing lessons', CAST(N'2017-04-14 15:40:15.5030000' AS DateTime2), 2, 1, CAST(N'2017-05-28 12:55:44.2593827' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[CustomerAccount] OFF
SET IDENTITY_INSERT [dbo].[InstructorAccount] ON 

INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [Comments], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [InstructorId], [IsCurrent], [WageRate]) VALUES (4, NULL, 6, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), 3, 1, CAST(80.00 AS Decimal(5, 2)))
INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [Comments], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [InstructorId], [IsCurrent], [WageRate]) VALUES (6, NULL, 5, NULL, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), 4, 1, CAST(70.00 AS Decimal(5, 2)))
INSERT [dbo].[InstructorAccount] ([InstructorAccountId], [Comments], [CustomerAccountId], [EffectiveEndDate], [EffectiveStartDate], [InstructorId], [IsCurrent], [WageRate]) VALUES (7, NULL, 7, NULL, CAST(N'2017-05-01 00:00:00.0000000' AS DateTime2), 6, 1, CAST(75.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[InstructorAccount] OFF
SET IDENTITY_INSERT [dbo].[SessionSynopsis] ON 

INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [CreatedById], [IsVisible], [SessionSynopsisName], [UpdatedById]) VALUES (1, 2, 1, N'Training', 2)
INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [CreatedById], [IsVisible], [SessionSynopsisName], [UpdatedById]) VALUES (2, 2, 1, N'Training & Rehearsal', 2)
INSERT [dbo].[SessionSynopsis] ([SessionSynopsisId], [CreatedById], [IsVisible], [SessionSynopsisName], [UpdatedById]) VALUES (3, 2, 1, N'Rehearsal', 2)
SET IDENTITY_INSERT [dbo].[SessionSynopsis] OFF
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([TimeSheetId], [ApprovedAt], [ApprovedById], [CreatedAt], [CreatedById], [InstructorId], [MonthAndYear], [UpdatedAt], [UpdatedById], [VerifiedAndSubmittedAt]) VALUES (1, NULL, NULL, CAST(N'2017-06-04 00:00:00.0000000' AS DateTime2), 3, 3, CAST(N'2017-06-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-06-04 00:00:00.0000000' AS DateTime2), 3, NULL)
INSERT [dbo].[TimeSheet] ([TimeSheetId], [ApprovedAt], [ApprovedById], [CreatedAt], [CreatedById], [InstructorId], [MonthAndYear], [UpdatedAt], [UpdatedById], [VerifiedAndSubmittedAt]) VALUES (3, CAST(N'2017-05-28 21:48:35.8643088' AS DateTime2), 2, CAST(N'2017-03-04 22:15:00.0000000' AS DateTime2), 4, 4, CAST(N'2017-03-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-03-04 22:15:00.0000000' AS DateTime2), 4, NULL)
INSERT [dbo].[TimeSheet] ([TimeSheetId], [ApprovedAt], [ApprovedById], [CreatedAt], [CreatedById], [InstructorId], [MonthAndYear], [UpdatedAt], [UpdatedById], [VerifiedAndSubmittedAt]) VALUES (4, NULL, NULL, CAST(N'2017-04-01 22:15:00.0000000' AS DateTime2), 4, 4, CAST(N'2017-04-01 00:00:00.0000000' AS DateTime2), CAST(N'2017-04-01 22:15:00.0000000' AS DateTime2), 4, NULL)
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
SET IDENTITY_INSERT [dbo].[TimeSheetDetail] ON 

SET IDENTITY_INSERT [dbo].[TimeSheetDetail] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserInfoId], [Email], [FullName], [IsActive], [LoginUserName]) VALUES (1, N'KENNY@FAIRYSCHOOL.COM', N'KENNY', 1, N'88881')
INSERT [dbo].[UserInfo] ([UserInfoId], [Email], [FullName], [IsActive], [LoginUserName]) VALUES (2, N'JULIET@FAIRYSCHOOL.COM', N'JULIET', 1, N'88882')
INSERT [dbo].[UserInfo] ([UserInfoId], [Email], [FullName], [IsActive], [LoginUserName]) VALUES (3, N'RANDY@HOTINSTRUCTOR.COM', N'RANDY', 1, N'88883')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
/****** Object:  Index [AccountDetail_UniqueConstraint]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [AccountDetail_UniqueConstraint] ON [dbo].[AccountDetail]
(
	[DayOfWeekNumber] ASC,
	[CustomerAccountId] ASC,
	[StartTimeInMinutes] ASC,
	[EndTimeInMinutes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountDetail_CustomerAccountId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountDetail_CustomerAccountId] ON [dbo].[AccountDetail]
(
	[CustomerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountRate_CustomerAccountId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountRate_CustomerAccountId] ON [dbo].[AccountRate]
(
	[CustomerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CustomerAccount_AccountName_UniqueConstraint]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [CustomerAccount_AccountName_UniqueConstraint] ON [dbo].[CustomerAccount]
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAccount_CreatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAccount_CreatedById] ON [dbo].[CustomerAccount]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAccount_UpdatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAccount_UpdatedById] ON [dbo].[CustomerAccount]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstructorAccount_CustomerAccountId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_InstructorAccount_CustomerAccountId] ON [dbo].[InstructorAccount]
(
	[CustomerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstructorAccount_InstructorId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_InstructorAccount_InstructorId] ON [dbo].[InstructorAccount]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SessionSynopsis_CreatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SessionSynopsis_CreatedById] ON [dbo].[SessionSynopsis]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SessionSynopsis_UpdatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SessionSynopsis_UpdatedById] ON [dbo].[SessionSynopsis]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SessionSynopsis_SessionSynopsisName_UniqueConstraint]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SessionSynopsis_SessionSynopsisName_UniqueConstraint] ON [dbo].[SessionSynopsis]
(
	[SessionSynopsisName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheet_ApprovedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheet_ApprovedById] ON [dbo].[TimeSheet]
(
	[ApprovedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheet_CreatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheet_CreatedById] ON [dbo].[TimeSheet]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheet_InstructorId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheet_InstructorId] ON [dbo].[TimeSheet]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheet_UpdatedById]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheet_UpdatedById] ON [dbo].[TimeSheet]
(
	[UpdatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheetDetail_TimeSheetId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSheetDetail_TimeSheetId] ON [dbo].[TimeSheetDetail]
(
	[TimeSheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSheetDetailSignature_TimeSheetIDetailId]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TimeSheetDetailSignature_TimeSheetIDetailId] ON [dbo].[TimeSheetDetailSignature]
(
	[TimeSheetIDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserInfo_LoginUserName_UniqueConstraint]    Script Date: 16/6/2017 8:18:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserInfo_LoginUserName_UniqueConstraint] ON [dbo].[UserInfo]
(
	[LoginUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountDetail]  WITH CHECK ADD  CONSTRAINT [FK_AccountDetail_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountDetail] CHECK CONSTRAINT [FK_AccountDetail_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[AccountRate]  WITH CHECK ADD  CONSTRAINT [FK_AccountRate_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountRate] CHECK CONSTRAINT [FK_AccountRate_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CustomerAccount]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccount_UserInfo_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[CustomerAccount] CHECK CONSTRAINT [FK_CustomerAccount_UserInfo_CreatedById]
GO
ALTER TABLE [dbo].[CustomerAccount]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAccount_UserInfo_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[CustomerAccount] CHECK CONSTRAINT [FK_CustomerAccount_UserInfo_UpdatedById]
GO
ALTER TABLE [dbo].[InstructorAccount]  WITH CHECK ADD  CONSTRAINT [FK_InstructorAccount_CustomerAccount_CustomerAccountId] FOREIGN KEY([CustomerAccountId])
REFERENCES [dbo].[CustomerAccount] ([CustomerAccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorAccount] CHECK CONSTRAINT [FK_InstructorAccount_CustomerAccount_CustomerAccountId]
GO
ALTER TABLE [dbo].[InstructorAccount]  WITH CHECK ADD  CONSTRAINT [FK_InstructorAccount_UserInfo_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorAccount] CHECK CONSTRAINT [FK_InstructorAccount_UserInfo_InstructorId]
GO
ALTER TABLE [dbo].[SessionSynopsis]  WITH CHECK ADD  CONSTRAINT [FK_SessionSynopsis_UserInfo_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[SessionSynopsis] CHECK CONSTRAINT [FK_SessionSynopsis_UserInfo_CreatedById]
GO
ALTER TABLE [dbo].[SessionSynopsis]  WITH CHECK ADD  CONSTRAINT [FK_SessionSynopsis_UserInfo_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[SessionSynopsis] CHECK CONSTRAINT [FK_SessionSynopsis_UserInfo_UpdatedById]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_UserInfo_ApprovedById] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_UserInfo_ApprovedById]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_UserInfo_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_UserInfo_CreatedById]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_UserInfo_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_UserInfo_InstructorId]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_UserInfo_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[UserInfo] ([UserInfoId])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_UserInfo_UpdatedById]
GO
ALTER TABLE [dbo].[TimeSheetDetail]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheetDetail_TimeSheet_TimeSheetId] FOREIGN KEY([TimeSheetId])
REFERENCES [dbo].[TimeSheet] ([TimeSheetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheetDetail] CHECK CONSTRAINT [FK_TimeSheetDetail_TimeSheet_TimeSheetId]
GO
ALTER TABLE [dbo].[TimeSheetDetailSignature]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheetDetailSignature_TimeSheetDetail_TimeSheetIDetailId] FOREIGN KEY([TimeSheetIDetailId])
REFERENCES [dbo].[TimeSheetDetail] ([TimeSheetDetailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSheetDetailSignature] CHECK CONSTRAINT [FK_TimeSheetDetailSignature_TimeSheetDetail_TimeSheetIDetailId]
GO
