<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- The following two meta tags are influenced by the index.html example in signature_pad library-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel=stylesheet type=text/css>
    <link href=https://unpkg.com/vuetify/dist/vuetify.min.css rel=stylesheet type=text/css>
    <link href=~/instructor/dist/static/css/app.css rel=stylesheet>


</head>
<body>
@Html.AntiForgeryToken()

			@if (User.Identity.IsAuthenticated)
                {
                    <div id="app">
                        @RenderBody()
                    </div>
			}

    <script type=text/javascript src=~/instructor/dist/static/js/manifest.js></script>
    <script type=text/javascript src=~/instructor/dist/static/js/vendor.js></script>
    <script type=text/javascript src=~/instructor/dist/static/js/app.js></script>

			@RenderSection("scripts", required: false)
</body>
</html>
